.card {
    max-height: 460px;
    min-height: 460px;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0 3px 4px 2px rgba(0,0,0,0.3);
    border: none;
    background-color: rgb(35,35,35);
}
.card-image {
    width: 250px;
    > img {
        width: 250px;
        border-radius: 10px;
    }
}
.cursor-pointer {
    cursor: pointer;
}
.pokemon-name {
    padding-left: 20px;
    font-size: 15px;
    font-family: monospace;
    font-weight: 500;
    color: aqua;
}
.pokemon-info {
    margin-left: 35px;
    font-family: monospace;
    font-size: 13px;
    font-weight: 400;
    color: antiquewhite;
}